pkgbase = ludo-the-game-git
	pkgdesc = An implementation of the famous board game Ludo, using C++
	pkgver = r135.b6c73fc
	pkgrel = 1
	url = https://github.com/adi-g15/Ludo-The_Game
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = cmake
	makedepends = gcc
	provides = ludo-the-game
	conflicts = ludo-the-game
	source = ludo-the-game::git+https://github.com/adi-g15/Ludo-The_Game
	md5sums = SKIP

pkgname = ludo-the-game-git
