pkgbase = ludo-the-game-git
	pkgdesc = An implementation of the famous board game Ludo, using C++
	pkgver = v2.3.1.r0.bb8faea
	pkgrel = 1
	url = https://github.com/adi-g15/Ludo-The_Game
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = cmake
	makedepends = gcc
	provides = ludo-the-game
	conflicts = ludo-the-game

pkgname = ludo-the-game-git
